$enable-shadows: true;
$primary: rgb(0, 19, 223);

$body-color: #333333;
$body-bg: #fff;

@import "../scss/bootstrap.scss";

/* Navbar */
.bg-light {
  background-color: #fff !important;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #3ba1ff;
  font-weight: 600;
}

// ServiceProgram Section
.serviceProgram{
  height: 688px;
  padding-top: 68px;

}


/* Tabungan Section */
// .h3-tabungan{
//   margin-left: 9.15080527vw ;
  
// }

.tabungan {
  height: 800px ;
  margin-top: 10px;
}

.tabungan-image{
  margin-right: 9.15080527vw;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  
  // margin-top:auto;
  padding-left: 0vw;
  padding-right: 0vw;

}

.tabungan p{
  width: 26.06vw;
  height: 66px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.05px;
  color: #888888;
}

.tabungan h3{
  width: 451px;
  height: 44px;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

h3,h4 {
  font-weight: 700;
}
h6 {
  color: #888888;
  // width: 356px
}

h5 {
  width: 356px;
  height: 27px;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
span {
  color: #3ba1ff;
}
//responsive image tabungan
@media only screen and (max-width: 783px) {
  /* styles for narrow screens */
  .tabungan-image img {
    width: 300px;
  }
}
@media only screen and (max-width: 415px) {
  /* styles for narrow screens */
  .tabungan-image img {
    width: 200px;
  }
}
//responsive image service program
@media only screen and (max-width: 415px) {
  /* styles for narrow screens */
  .sp-1 img{
    width: 150px
  }
}

//responsive image KPR Main
@media only screen and (max-width: 783px) {
  /* styles for narrow screens */
  .kprMain-1 img{
    width: 300px
  }
}

//responsive image KPR
@media only screen and (max-width: 415px) {
  /* styles for narrow screens */
  .kpr-1 img{
    width: 150px
  }
}


// .sp-column{
//   width: 30%
// }

.carousel-indicators li{
  width: 15px;
  height: 15px;

 
}

.kpr{
  // padding-top: 238px;
  height: 1280px;
  background-color: #f0f8ff;
  
}

.kpr h3{
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.kpr p{
  padding-top: 48px;
  width: 39.9vw;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #888888;
}

.kpr h4{
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.kprMain-1{
  margin-left: 9.15080527vw ;
}

// Download Section
.download{
  height: 688px ;
  .leftContent{
    padding-left:  9.15080527vw ;
    margin-top: 104px;
    p{
      // margin-top: 24px;
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #888888;
    }
    h2{
      // font-family: Roboto;
      // margin-top: 32px;
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
    .row{
      width: 39.9vw;
    }
  }
}

.rightContent{
  display: flex;
  margin-right: 9.15080527vw;
  align-items: center;
  margin-top: 56px;
  padding-right: 0;
  padding-left: 6.3vw;
}

.footer{
  height: 345px;
  background-color:#3ba1ff ;
  
  p{
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
}

.leftFooter1{
  margin-top: 64px ;
}

.leftFooter2{
  margin-top: 24px;
  p{
    font-size: 14px;
    width: 26.062vw;
  }
}

.centerFooter1{
  margin-top: 64px;
  p {
    font-size: 16px;
    font-weight: bold;
    width: 19.1068814056vw;
  }
}

.centerFooter2{
  margin-top: 24px;
  p {
    width: 19.1068814056vw;
    // height: 66px;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: -0.05px;
  }
}

.centerFooter3{
  margin-top: 24px;
  p {
    width: 19.1068814056vw;
    // height: 66px;
    font-size: 14px;
  }
}

.centerFooter4{
  margin-top: 24px;
  p {
    width: 19.1068814056vw;
    // height: 66px;
    font-size: 14px;
  }
}

.rightFooter1{
  margin-top: 64px;
  p {
    font-size: 16px;
    font-weight: bold;
    width: 14.7144948755vw;
  }
}

.rightFooter2{
  margin-top: 24px;
  img {
    margin-right: 1.17130307467vw;
  }
}

.rightFooter3{
  margin-top: 24px;
  p {
    width: 14.7144948755vw;
  }
}

.footer2{
  height: 56px;
  background-color: #4643d3;
  p {
    padding-top: 2.9vh;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.05px;
    color: #ffffff;

    
  }
  img {
    padding-top: 3vh;
  }
}



// *{
//   border: 1px solid red   
// }

